font_for_windows = "Microsoft YaHei";
font_for_mac = "Hiragino Sans GB";
font_for_linux = "WenQuanYi Micro Hei";

body
    color: #777;
    font-family: arial, font_for_mac, font_for_windows, font_for_linux, sans-serif;

.header
    min-height: 80px;
    margin: 0;
    color: #333;
    padding: 1em 2em;
    text-align: center;
    border-bottom: 1px solid #eee;
    background: #fff;
    
    & h1
        font-family: "Fjalla One", sans-serif;

    & h1.large
        font-size: 68px;
    
    & h1.narrow-margin
        margin:20px;
    
    & h2
        font-weight: 300;
        margin: 0;
        color: #888;

.footer
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;

    & a
        text-decoration: none;

    & ul
        & li
            display: inline-block;
            margin-right: 10px;

        & li:before
            content: '|';
            color: #adada9;
            margin-right: 10px;
        
        & li.first:before
            content: '';
            margin-right: 10px;

.relative-footer
    width: 430px;
    border-top: 1px #bbb solid;

.absolute-footer
    width: 100%;
    bottom: 0px;
    position: fixed;


.main
    width: 80%;
    padding: 10px;
    margin: 0 auto;

    & .nav
        margin-top: 80px;
        float: left;

        & a
            color: #F0F1F1;
            text-decoration: none;

        & ul > li
            display: block;
            padding: 20px;
            color: #F0F1F1;
            border-bottom: 1px solid #58595A;

            & span 
                font-size: 12px;
                padding-left: 20px;
                color: #747474;

    & .content
        float: left;
        margin: 30px 0px 0px 50px;
        color: #F0F1F1;

        & header:before
            width: 100%;
            border-bottom: 1px solid #58595A;

        & header
            margin-bottom: 20px;

        & h2
            font-size: 28px;

            & span 
                font-size:12px;
                color: #777;
