<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>{% block web_title %}SZU.FM{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Content-Language" content="zh-CN" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/pure/pure-min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/reset-css/index.css') }}" />
        <link href="{{ url_for('static', filename='fonts/Fjalla+One.css') }}" rel='stylesheet' type='text/css'>
        <script src="{{ url_for('static', filename='components/jquery/jquery.js') }}" language="javascript"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/base.css') }}" />
        <script src="{{ url_for('static', filename='scripts/global.js') }}" language="javascript"></script>
        {%- block htmlhead %}
        {%- endblock %}
    </head>

    <body>
        {%- block header %}
        <div id="header" class="header">
            <h1 class="large narrow-margin">SZU.FM</h1>
            <h2>深大人自己的电台</h2>
        </div>
        {%- endblock %}
        {%- block main %}

        {%- endblock %}
        {%- block footer %}
        <div id="footer" class="footer">
            <ul>
                <li class="first"><a href="/about">关于我们</a></li>
                <li><a href="/join">加入我们</a></li>
                <li><a href="/help">使用帮助</a></li>
            </ul>
        </div>
        {%- endblock %}
    </body>
</html>