{% extends 'base.html' %}

        {%- block htmlhead %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}" />
        <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
        {%- endblock %}

        {%- block header %}
        <div class="szu-fm-header">
            <h1><span>{</span>SZU.FM<span>}</span></h1>
            <h2>一个限流也能收听的电台</h2>
        </div>
        <div class="szu-fm-start">
            <span class="sonic-left sonic"></span><a class="pure-button start-button" href="#start">立刻收听</a><span class="sonic-right sonic"></span>
        </div>
        {%- endblock %}
